{% if error %}
	<div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
{% endif %}

<form action={{path ('route_file_upload') }} method="POST" name="upload_form" enctype="multipart/form-data">
	<div class="mb-3">
		{{ form_label(form.files, "Upload files..." | trans([], 'messages') ~ "(maximum "  ~  max_file_size |format_file_size ~ " par fichier)"  ) }}

		{{ form_widget(form.files, {
            'attr': {
            'class': 'form-control' ~ (form.files.vars.valid ? ' ' : ' is-invalid'),
            }}) 
		}}

		<div class="invalid-feedback  mb-3">

			{{ form_errors(form.files) }}

		</div>
	
	</div>
		<input type="hidden" name="_token" value="{{ csrf_token('upload') }}">
	 <button type="submit" class="btn btn-primary btn-lg">{{'Upload files...'| trans([], 'messages' )}}</button>
</form>
