<form action={{path ('route_homepage') }} method="POST" name="upload_form" enctype="multipart/form-data">
	<div class="mb-5">
		{{ form_label(form.files, "Upload files..." | trans([], 'messages') ~ "(maximum "  ~  max_file_size |format_file_size ~ " par fichier)" ) }}

		{{ form_widget(form.files, {
            'attr': {
            'class': 'form-control' ~ (form.files.vars.valid ? ' ' : ' is-invalid'),
			'is': 'drop-files',
			'label': "Drop files here or click to upload." | trans([], 'messages'),
            }}) 
		}}
		{% if form_errors(form.files) %}
			{% for error in form.files.vars.errors %}
				<div class="invalid-feedback pt-3">{{error.message | trans([], 'messages') }}</div>
			{% endfor %}
		{% endif %}
			
		</div>

		<input type="hidden" name="_token" value="{{ csrf_token('upload') }}">
	 <button type="submit" class="btn btn-primary btn-lg">{{'Upload files...'| trans([], 'messages' )}}</button>
</form>
