{% extends "base.html.twig" %}

{% block title %} Reset password{% endblock %}

{% block body %}
   <div class="row align-items-center mt-4">
		<div class="col-6 mx-auto ">
         <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>

         {% if error %}
            <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
            {% endif %}

         <form method="POST" name="password_reset_request" >
            <div class="mb-3">
             {{ form_label(form.email, 'Email :')}}

             {{ form_widget(form.email, {
                'attr': {
                    'class': 'form-control' ~ (form.email.vars.valid ? ' ' : ' is-invalid'),
                    'placeholder': 'email@exemple.com'
                    }}) 
                }}
                <div class="invalid-feedback  mb-3">

                    {{ form_errors(form.email) }}
                    
                </div>
            </div> 
            
            <button type="submit" class="btn btn-primary mt-3" >Recovery</button>

            {{ form_widget(form._token)}}
         </form>
        </div>
    </div>
{% endblock %}