{% extends "base.html.twig" %}

{% block title %}Update password{% endblock %}

{% block body %}
    <div class="row align-items-center mt-4">
		<div class="col-6 mx-auto ">
         <h1 class="h3 mb-3 font-weight-normal">Update Password</h1>

         {% if error %}
            <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
            {% endif %}

         <form method="POST" name="update_password_request" >
            <div class="mb-3">
             {{ form_label(form.password, 'New Password :')}}

             {{ form_widget(form.password, {
                'attr': {
                    'class': 'form-control' ~ (form.password.vars.valid ? ' ' : ' is-invalid'),
                    }}) 
                }}
                <div class="invalid-feedback  mb-3">

                    {{ form_errors(form.password) }}
                    
                </div>
            </div>
            
            <div class="mb-3">
             {{ form_label(form.confirmPassword, 'Confirm new password :')}}

             {{ form_widget(form.confirmPassword, {
                'attr': {
                    'class': 'form-control' ~ (form.confirmPassword.vars.valid ? ' ' : ' is-invalid'),
                    }}) 
                }}
                <div class="invalid-feedback  mb-3">

                    {{ form_errors(form.confirmPassword) }}

                </div>
            </div> 
            <button type="submit" class="btn btn-primary mt-3" >Update</button>

            {{ form_widget(form._token)}}
            
         </form>
        </div>
    </div>
{% endblock %}