<!DOCTYPE html>
<html lang="fr" class="h-100">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}	</title>
			
		<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
		{# {{ encore_entry_link_tags('app') }} #}
		{% block stylesheets %}{% endblock %}
	</head>
	<body class="h-100">
		<nav class="navbar navbar-expand-md navbar-dark bg-primary">
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item">
						<a class="nav-link text-light" href={{path ("route_homepage")}}>{{ "Home" | trans([], 'messages') }}
							<span class="sr-only">(current)</span>
						</a>
					</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{path ("route_files_manager")}}">{{ "My files" | trans([], 'messages') }}</a>
						</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="#">{{ "About" | trans([], 'messages') }}</a>
					</li>
				</ul>
			</div>
			{% if app.user %}
				<div class="float-right">
					<li class="">
						<span class="text-light">{{app.user.firstname ? app.user.firstname : app.user.email}}</span>
						<span class="ml-2 mr-2">
							<a class="text-muted" href={{ path ('route_logout') }}>{{ "Logout" | trans([], 'messages') }}</a>
						</span>
					</li>
				{% else %}
					<li class="">
						<a href={{ path ('route_login') }} class="text-light">{{ "Login" | trans([], 'messages') }}</a>
						<span class="text-secondary ml-2 mr-2">
							|
						</span>
						 <a class="text-light" href={{ path ('route_registration') }}>{{ "Sign Up" | trans([], 'messages') }}</a>
					</li>
				{% endif %}
			</div>
		</nav>
		<div class="container h-100">
			<div class="row d-flex justify-content-center mt-3">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="col-md-6 alert alert-{{ label }}">{{ message | trans([], 'messages')}}</div>
					{% endfor %}
				{% endfor %}
			</div>
			{% block body %}{% endblock %}
		</div>
		{% include "home/footer.html.twig" %}
		{# {{ encore_entry_script_tags('app') }} #}
		
		{% block javascripts %}{% endblock %}
	</body>
	
	
</html>
